.LeatestBlogMobile{
    margin: auto;
    text-align: center; 
    max-width: 1920px;
    justify-content: center;
    margin-top: 50px;
  }
    .LeatestBlogMobile__N{
      font-family: 'Josefin Sans';
      font-size: 30px;
      line-height: 49px;
      text-align: center;
      color: #151875;
      display: none;
    }
    .ProductsTrendMobile__H{
      display: flex;
      flex-wrap: wrap;
      margin-left: 5%;
      margin-right: 5%;
    }
    .ProductsTrendMobile__H1_Img{
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
    }
    .ProductsTrendMobile__H1,
    .ProductsTrendMobile__H2,
    .ProductsTrendMobile__H3{
      margin: auto;
      max-width:320px;
      width: 100%;
      height: 435px;
    }
    .ProductsTrendMobile__H1_Text{
      margin-left: 30px;
    }
    .ProductsTrendMobile__H1_Text_Td{
      display: flex;
      font-family: 'Josefin Sans';
      font-size: 16px;
      line-height: 16px;
      color: #151875;
    }
    .ProductsTrendMobile__H1:hover .ProductsTrendMobile__H1_Text_TTop{
        color: rgba(251, 46, 134, 1);
    }
    .ProductsTrendMobile__H2:hover .ProductsTrendMobile__H1_Text_TTop{
        color: rgba(251, 46, 134, 1);
    }
    .ProductsTrendMobile__H3:hover .ProductsTrendMobile__H1_Text_TTop{
        color: rgba(251, 46, 134, 1);
    }
    .ProductsTrendMobile__H1:hover .ProductsTrendMobile__H1_Text_Trm{
        color: rgba(251, 46, 134, 1);
    }
    .ProductsTrendMobile__H2:hover .ProductsTrendMobile__H1_Text_Trm{
        color: rgba(251, 46, 134, 1);
    }
    .ProductsTrendMobile__H3:hover .ProductsTrendMobile__H1_Text_Trm{
        color: rgba(251, 46, 134, 1);
    }
      .ProductsTrendMobile__H1_VectorLich{
        margin-left: 60px;
        width: 15px;
        height: 15px;
        margin-top: 15px;
        object-fit: cover;
      }
      .ProductsTrendMobile__H1_Vectorbut{
        width: 15px;
        height: 15px;
        margin-top: 17px;
        object-fit: cover;
      }
      .ProductsTrendMobile__H1_Vcb{
        margin-left:5px;
      }
    .ProductsTrendMobile__H1_Text_TT{
      text-align: left;
      line-height: 15px;
      max-width: 400px;
      color: #151875;
      width: 100%;
    }
      .ProductsTrendMobile__H1_Text_TTop{
        font-family: 'Josefin Sans';
        font-size: 18px;
        line-height: 21px;
      }
      .ProductsTrendMobile__H1_Text_Tmor{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #72718F;
      }
      .ProductsTrendMobile__H1_Text_Trm{
        font-family: 'Lato';
        font-style: normal;
        font-size: 16px;
        text-decoration-line: underline;
      }
  /* mobile */
  @media only screen and (max-width: 599px) {
   .LBlog{
    display: none;
   } 
   .LeatestBlogMobile__N{
    display: block;
   }
  }
  /* tablet */
  @media only screen and (min-width: 600px) and (max-width: 1023px) {
    .LBlog{
      display: none;
     } 
     .LeatestBlogMobile__N{
      display: block;
     }
     .ProductsTrendMobile__H1_Text_TT {
      margin-top: -20px;
    }
  }
  @media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .TrendingProducts{
      display: none;
    }
    .LeatestBlogMobile__N{
      display: block;
     }
     .TrendingProductsMobile__TD{
      display: block;
      margin-top: 80px;
     }
     .ProductsTrendMobile__H1_Text_TT {
      margin-top: -20px;
    }
  }