.ShopexOffer{
    margin: auto;
    text-align: center; 
    max-width: 1920px;
    justify-content: center;
    margin-top: 100px;
  }
    .ShopexOfferMobile__D{
      text-align: center;
      font-size: 15px;
      color: rgba(21, 24, 117, 1);
      font-family: 'Josefin Sans';
      line-height: 30px;
      margin-top: 40px;
      display: none;
    }
    .CategoriesMobile__TBn{
      display: flex;
      text-align: center;
      flex-wrap: wrap;
      margin-left: 20%;
      margin-right: 20%;
    }
    .ShopexOfferMobile__Xe {
      padding: 10px;
      width: 200px;
    }
      .ShopexOfferMobile__TD{
        color: rgba(21, 24, 117, 1);
        font-family: 'Josefin Sans';
        font-size: 22px;
        line-height: 26px;
      }
      .ShopexOfferMobile__TDD{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        color:  rgba(26, 11, 91, 0.3);
        text-align: center;
      }
      .ShopexOfferMobile__Xe1{
        margin-top: 27px ;
        padding: 10px;
        width: 200px;
      }

    /* mobile */
  @media only screen and (max-width: 599px) {
    .ShopexOffer{
      display: none;
    }
    .ShopexOfferMobile__D{
      display: block;
  }
}
  /* tablet */
  @media only screen and (min-width:600px) and (max-width:1023px) {
    .shopexOffer{
      max-width: 650px;
      margin-top: 60px;
    }
    .ShopexOffer{
      display: none;
    }
    .ShopexOfferMobile__D{
      display: block;
  }
  }
